body {
    justify-content: flex;
    justify-content: center;
    align-items: center;
}

#caja_random {
    display:flex;
    align-items: center;
    justify-content: center;
}

#caja_random {
    border: 10px solid black;
}

#cuad_principal{
    border: 10px solid black;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cuadricula {
    flex-wrap: wrap;
    border: 10px solid black;
    width: 300px;
    height: 300px;
    color: white;
}


.div_principal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 10px solid black;
    max-height: 800px;
}

img {
    max-width: 300px;
    max-height: 300px;
}

div {
    display: flex;
    max-height: 800px;
}

